{{ define "layouts/nav.html" }}
<nav
  class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light px-3"
>
  <a
    class="navbar-brand d-flex align-items-center justify-content-center flex-col gap-1"
    href="#"
  >
    <img src="/img/icon.svg" alt="" width="35" height="35" />

    <h2 class="flex gap-0" style="margin-top: 5px">BlockWare</h2>
  </a>

  <ul class="navbar-nav ms-auto">
    {{ range .navOptions }}
    <li class="nav-item active">
      <a class="nav-link" href="{{ .Link }}">{{ .Text }}</a>
    </li>

    {{ end }}
  </ul>
</nav>

{{ end }}
