node_modules
frontend/dist
blockware.exe
toolkit.exe
toolkit
toolkit.exe~

# profile data
latex-template-main
**/tmp/**
!**/tmp/.gitkeep

**/test/**/assets/*
**/test/**/games/*
**/test/**/hashes/*
**/test/**/peers/*
**/profiles/**/.toolkit-*